:root {
  --background-colour:#33334D;
  --foreground-colour:#F0F8FF;
  --white-accent-colour:#FFFFFF;
  --black-accent-colour:#000000;
  --accent-bright-colour:#E2AEFC;
  --accent-dark-colour:#702760;
}
